{% extends "layout.html" %}
{% block scripts %} 

<style>

.text {
    font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
}
.button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text1 {
    font-style: italic;
    font-size: medium;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
}

</style>

<body id="page-top">

  <!-- Header -->
  <header>
    <div class="text-center my-auto">
      <h1 class="mb-1 text">Hotel Performance in June, 2017 </h1>
      <h3 class="mb-5">
        <img src="{{url_for ('static',filename='img/travel.jpg')}}" alt="travel" style="width:100%;">
      </h3>
      <h3 class="text1">Group Members: Xinyue Chen, Xinyue Dong, Sichen Song</h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger button" href={{ url_for("chart") }}>Find Out Chart</a>
    </div>

  </header>



</body>

</html>
    
{% endblock scripts %}