<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {% if title %}
       <title>{{ title }}</title>
  {% else %}
       <title>Welcome to my page</title>
  {% endif %}

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Sichen</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">(current)

      </span></button><div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{ 'active' if title=='Web Article' }}">
            <a class="nav-link" href="{{ url_for('web_article')}}">Web Article <span class="sr-only">

            </span></a></li>
          <li class="nav-item {{ 'active' if title=='Tags' }}">
            <a class="nav-link" href="{{ url_for('tags')}}">Tags</a></li>
            
          <li class="nav-item {{ 'active' if title=='Calculater' }}">
            <a class="nav-link" href="{{ url_for('calculater')}}">Calculater</a></li>

          <li class="nav-item {{ 'active' if title=='Swap_numbers' }}">
            <a class="nav-link" href="{{ url_for('Swap_numbers')}}">Swap_numbers</a></li>

          <li class="nav-item {{ 'active' if title=='Sorting' }}">
            <a class="nav-link" href="{{ url_for('sorting')}}">Sorting</a></li>
          
          <li class="nav-item {{ 'active' if title=='Linear_regression' }}">
            <a class="nav-link" href="{{ url_for('linear_regression')}}">Linear_regression</a></li>
          
          <li class="nav-item {{ 'active' if title=='Forums' }}">
            <a class="nav-link" href="{{ url_for('forums')}}">Forums</a></li>

          <li class="nav-item {{ 'active' if title=='OnlineShop' }}">
            <a class="nav-link" href="{{ url_for('onlineshop')}}">OnlineShop</a></li>

          <li class="nav-item {{ 'active' if title=='assignment7' }}">
            <a class="nav-link" href="{{ url_for('register')}}">assignment7</a></li>

            <li class="nav-item {{ 'active' if title=='Display' }}">
              <a class="nav-link" href="{{ url_for('display')}}">Display</a></li>

          </div></nav>
          {% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
                {% for category, message in messages %}
                  	<div class="alert alert-{{ category }}">
                    		{{ message }}
                  	</div>
                {% endfor %}
	{% endif %}
{% endwith %}



    {% block content %}
    {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>