{% extends "layout.html" %} 
{% block content %}
   <h1>Web Article</h1>
   <hr />
   <style>

    body {
   
        background:url("https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2247081777,3851148724&fm=26&gp=0.jpg");
   
    }
   
   </style>
       <p>    The article introduces the reason why JavaScript could be the dominant language of the web. In the early 90s, HTML was still young and simple enough for non-developers to pick up, so whatever was to be part of the browser needed to be simple, flexible, and accessible to people less specialize. So, the JavaScript was born and could respond to user input.


        In 2003, many new features were proposed in JavaScript, which had begun to dwindle and work had stopped on version 4. 
        
        
        In 2011, JavaScript became the most supported version seeing implementation in Firefox 4 and Chrome 16, Internet Explorer 10, Opera 12.10, and Safari 6 in 2012. In 2013, Built with Node.js, Airbnb launched a site becoming the first to utilize isomorphic JavaScript. This approach allows code to be executed on the server-side and rendered in the browser.
        <br >
        <a href="https://www.lform.com/blog/post/how-javascript-became-the-dominant-language-of-the-web">Visit the article (Click me)</a>
        
       </p>

{% endblock content %}
